@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Kitchen Logic</h1>
    <p class="lead">Kitchen Logic is a food blog to help you use up those leftover ingredients and give you inspiration for simple but effective recipes!</p>
</div>

<div class="row">
</div>